@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/font.ttf') format('truetype');
    font-weight:lighter;
    font-style: normal;
}

@font-face {
    font-family: 'MenuFont';
    src: url('../fonts/menus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #060606;
    overflow: hidden;
    font-family: 'CustomFont';
}

button {
    font-family: 'MenuFont';
    border-radius: 0 !important;
    outline: none;
}

canvas {
    background-color: black;
    display: block; 
}

.hidden { display: none !important; }
.hidden-ui { display: none !important; }
body.cursor-locked * {
    cursor: inherit !important;
}