.message-window {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 150px;
    background: black;
    border: 4px solid white;
    padding: 20px;
    z-index: 3000;
    font-family: 'CustomFont';
    pointer-events: auto;
}

.message-text {
    color: white;
    font-size: 24px;
    line-height: 1.4;
    white-space: pre-wrap;
}

.message-window.top-pos {
    bottom: auto; 
    top: 20px;   
}